*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
 margin-top: 320px;
 text-align: center;
 background-color: rgb(250, 235, 235);
}
.unique{
    border: 2px solid gray;
    border-radius: 10%;
    background-color: blanchedalmond;
    width: auto;
    height: 25px;
}
